STT/data/config.py
STT/best_model.pt
STT/data/processed_test
STT/data/processed_train
STT/model/4-gram.arpa
nlu/data/snips/
nlu/data/snips_processed/train.jsonl
nlu/data/snips_processed/valid.jsonl
nlu/data/snips_processed/test.jsonl
nlu/data/nlu_metrics
nlu/nlu.pt